button(class={ 'mode-option': true, ['mode-option--' + variant]: true, 'is-active': active } type="button" data-mode=id)
  span.mode-option__icon!= icon
  span.mode-option__content
    span.mode-option__title= title
    if description
      span.mode-option__description= description
  span.mode-option__chevron(aria-hidden="true")
